.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 48px;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}

@media (min-width: 488px) {
  .catalog {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (min-width: 768px) {
  .catalog {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 200px);
  }
}
